[Unit]
Description=statusbar
PartOf=user-graphical-session.target

[Service]
Type=simple
ExecStart=sh %h/.config/statusbar.sh

[Install]
WantedBy=user-graphical-session.target
