[Unit]
Description=Urxvt Terminal Daemon
Requires=urxvtd.socket

[Service]
ExecStart=/sbin/urxvtd -o -q
Environment=RXVT_SOCKET=%t/urxvtd-%H

[Install]
Also=urxvtd.socket
WantedBy=default.target
