[Unit]
Description=xss-lock
PartOf=user-graphical-session.target

[Service]
Type=simple
Environment=XSECURELOCK_DIM_FPS=60
ExecStart=/usr/bin/xss-lock -n /usr/lib/xsecurelock/dimmer -l -- sh %h/.config/locker.sh

[Install]
WantedBy=user-graphical-session.target
