[user]
    email = pontus@jensenkarlsson.se
    name = Pontus Jensen Karlsson

[core]
    editor = vim
    whitespace = cr-at-eol,space-before-tab,-indent-with-non-tab,trailing-space
    autocrlf = input

    # Makes rebase safer on OS X
    # More info: <http://www.git-tower.com/blog/make-git-rebase-safe-on-osx/>
    trustctime = false

[color]
    ui = auto

[alias]
    root = rev-parse --show-toplevel
    conflicts = diff --name-only --diff-filter=U
    resolve = "!f() { git ls-files --unmerged | cut -f2 | sort -u ; }; vim `f`"
    admit = "!f() { git ls-files --unmerged | cut -f2 | sort -u ; }; git add `f`"
    fix-permissions = "!git diff -p | grep -E '^(diff|old mode|new mode)' | sed -e 's/^old/NEW/;s/^new/old/;s/^NEW/new/' | git apply"
    purge = "clean -fdx"
    graph = log --graph --full-history --all --color --pretty=format:'%x1b[31m%h%x09%x1b[32m %C(white)- %d%x1b[0m%x20%s %Cgreen(%cr) %C(bold blue)%Creset' --date=relative
    flow = "git-flow"
    feature = flow feature
    release = flow release
    publish ="!git-flow feature publish `git rev-parse --abbrev-ref HEAD | cut -d'/' -f2`"
    hotfix = flow hotfix
    support = flow support
    contributors = shortlog --summary --numbered
    branches = branch -a
    tags = tag -l
    remotes = remote -v
    df = -c core.fileMode=false diff
    cm = commit -a
    co = checkout
    rb = rebase
    mg = merge
    lg = graph
    fuckit = reset --hard HEAD

[push]
    default = simple

[apply]
    # Detect whitespace errors when applying a patch
    whitespace = fix

[diff]
    # Detect copies as well as renames
    renames = copies

[help]
    # Automatically correct mistyped commands
    autocorrect = 1

[merge]
    # Include merge summaries in commit message
    log = true

# URL Shorthans
[url "git://github.com/"]
    insteadOf = "github:"

[url "git://gist.github.com/"]
    insteadOf = "gist:"
[pull]
	rebase = false
