#------------------------------------------------------------
# Vi Key Bindings
#------------------------------------------------------------

# Moving around
bind attach,browser,index       g   noop
bind attach,browser,index       gg  first-entry
bind attach,browser,index       G   last-entry
bind pager                      g   noop
bind pager                      gg  top
bind pager                      G   bottom
bind pager                      k   previous-line
bind pager                      j   next-line

# Sidebar
bind index                      \Cj sidebar-next
bind index                      \Ck sidebar-prev
bind index                      \Co sidebar-open

bind pager,index                B   sidebar-toggle-visible
bind pager,index                d   noop
bind pager,index                dd  delete-message
bind pager,index                dD  purge-message

# Threads
bind browser,pager,index        N   search-opposite
bind pager,index                dT  delete-thread
bind pager,index                dt  delete-subthread
bind index                      j   next-entry
bind index                      k   previous-entry

# Editor
bind editor <Tab> complete-query
bind editor ^T complete
